/* Variables and Functions */
/*
@debug map-get($colors, 'purple');
@debug map-has-key($colors, 'purple');
@debug map-remove($colors, 'purple');
@debug map-merge($colors, ('purple': #8b5cf6));
*/
/* Base & Layout */
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  color: #4f46e5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

span {
  border-radius: 8px;
  padding: 4px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-2 > * {
  padding: 8px;
}

.gap-2 {
  margin-left: -8px;
  margin-right: -8px;
}

.justify-center {
  justify-content: center;
}
@media (min-width: 960px) {
  .col-lg-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
@media (min-width: 720px) {
  .col-md-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
}

@media (min-width: 480px) {
  .col-sm-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
}
.col-xs-12 {
  box-sizing: border-box;
  flex-grow: 0;
  width: 100%;
}
/* Colours */
.text-primary {
  color: #4f46e5;
}

.bg-primary {
  background-color: #4f46e5;
}

.bg-primary-light-2 {
  background-color: rgb(114.2, 107, 234.2);
}

.bg-primary-light-4 {
  background-color: rgb(149.4, 144, 239.4);
}

.bg-primary-light-6 {
  background-color: rgb(184.6, 181, 244.6);
}

.bg-primary-light-8 {
  background-color: rgb(219.8, 218, 249.8);
}

.bg-primary-dark-2 {
  background-color: rgb(63.2, 56, 183.2);
}

.bg-primary-dark-4 {
  background-color: rgb(47.4, 42, 137.4);
}

.bg-primary-dark-6 {
  background-color: rgb(31.6, 28, 91.6);
}

.bg-primary-dark-8 {
  background-color: rgb(15.8, 14, 45.8);
}

.text-secondary {
  color: #ec4899;
}

.text-hover-secondary:hover {
  color: #ec4899;
}

.bg-secondary {
  background-color: #ec4899;
}

.bg-secondary-light-9 {
  background-color: rgb(253.1, 236.7, 244.8);
}

.text-info {
  color: #3b82f6;
}

.bg-info {
  background-color: #3b82f6;
}

.text-error {
  color: #ef4444;
}

.bg-error {
  background-color: #ef4444;
}

.text-blue {
  color: #3b82f6;
}

.bg-blue {
  background-color: #3b82f6;
}

.text-red {
  color: #ef4444;
}

.bg-red {
  background-color: #ef4444;
}

.text-green {
  color: #22c55e;
}

.bg-green {
  background-color: #22c55e;
}

.text-yellow {
  color: #fbbf24;
}

.bg-yellow {
  background-color: #fbbf24;
}

.text-orange {
  color: #fb923c;
}

.bg-orange {
  background-color: #fb923c;
}

.text-hover-orange-light-1:hover {
  color: rgb(251.4, 156.9, 79.5);
}

.text-gray {
  color: #9ca3af;
}

.bg-gray {
  background-color: #9ca3af;
}

.bg-gray-light-7 {
  background-color: rgb(225.3, 227.4, 231);
}

.text-purple {
  color: #8b5cf6;
}

.bg-purple {
  background-color: #8b5cf6;
}

.text-white {
  color: #fff;
}

.text-hover-white:hover {
  color: #fff;
}

/* Components (button, card, navbar) */
.card {
  display: block;
  padding: 4px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 4px;
  border-radius: 2px;
}
.card .card-title {
  color: #4f46e5;
  padding-bottom: 4px;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}
@media (min-width: 0) {
  .card {
    padding: 4px;
    font-size: 1rem;
  }
}
@media (min-width: 480px) {
  .card {
    padding: 4px;
    font-size: 1rem;
  }
}
@media (min-width: 720px) {
  .card {
    padding: 4px;
    font-size: 1rem;
  }
}
@media (min-width: 960px) {
  .card {
    padding: 4px;
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .card {
    padding: 4px;
    font-size: 1rem;
  }
}
@media (min-width: 1400px) {
  .card {
    padding: 4px;
    font-size: 1rem;
  }
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #fff;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #4f46e5;
}
.btn-primary:hover {
  background-color: rgb(100.2701421801, 92.3578199052, 232.1421800948);
}

.btn-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #4f46e5;
  color: rgb(224.2298578199, 232.1421800948, 92.3578199052);
}
.btn-complement-primary:hover {
  color: #4f46e5;
  background-color: rgb(224.2298578199, 232.1421800948, 92.3578199052);
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #ec4899;
}
.btn-secondary:hover {
  background-color: rgb(238.3985148515, 95.1014851485, 165.8762376238);
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #3b82f6;
}
.btn-info:hover {
  background-color: rgb(83.3804878049, 145.5487804878, 247.1195121951);
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #ef4444;
}
.btn-error:hover {
  background-color: rgb(241.0098522167, 91.4901477833, 91.4901477833);
}

.btn-outline-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #fb923c;
}
.btn-outline-orange:hover {
  background-color: #fb923c;
}

.btn-outline-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #8b5cf6;
}
.btn-outline-purple:hover {
  background-color: #8b5cf6;
}

.navbar .container, .navbar-primary .container, .navbar, .navbar-primary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar, .navbar-primary {
  padding: 4px 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.navbar .site-title, .navbar-primary .site-title {
  font-size: 1.5rem;
}
.navbar-primary {
  background-color: #4f46e5;
}

/* Utilities (margin, padding, opacity, display, etc.) */
.p-0 {
  padding: 0;
}

.p-3 {
  padding: 12px;
}

.p-10 {
  padding: 40px;
}

.pt-3 {
  padding-top: 12px;
}

.pt-4 {
  padding-top: 16px;
}

.pb-3 {
  padding-bottom: 12px;
}

.pb-4 {
  padding-bottom: 16px;
}

.m-1 {
  margin: 4px;
}

.ml-1 {
  margin-left: 4px;
}

.ml-4 {
  margin-left: 16px;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-5 {
  margin-top: 20px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 12px;
}

.br {
  border-radius: 8px;
}

.br-sm {
  border-radius: 8px;
}

.fs-xs {
  font-size: 0.75rem;
}

.fs-sm {
  font-size: 0.875rem;
}

.fs-lg {
  font-size: 1.125rem;
}

.fs-xl {
  font-size: 1.25rem;
}

.fs-xxl {
  font-size: 1.5rem;
}

.fw-black {
  font-weight: 900;
}