// Color Palette
$primary: #4f46e5;    // Indigo
$secondary: #ec4899;  // Pink
$info: #3b82f6;       // Blue
$success: #22c55e;    // Green
$error: #ef4444;      // Red
$warning: #fbbf24;    // Yellow

// colour palette map
$colors: (
    'primary': $primary,
    'secondary': $secondary,
    'info': $info,
    'success': $success,
    'error': $error,
    'warning': $warning,
    "white": #fff,
    "black": #000,
    "purple": #8b5cf6
);

@debug map-get($colors, 'purple');
@debug map-has-key($colors, 'purple');

// Spacing Variables
$spacer: 1rem;
$base-space: 0.7rem;
$base-margin: 1.7rem;
$base-padding: 0.7rem;

// Border Variables
$base-border-thickness: 1px;
$base-border-radius: 20px;
$border-color: rgba(0, 0, 0, 0.1);

// Box Shadow
$base-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

// Font Sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2.5;
$font-size-2xl: $base-font-size * 3.5;
